<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/edit.css">
    <title>Edit your Tweet</title>
</head>
<body>
    <div class="container">
        <div class="link-header">
            <h1>Edit your tweet here!</h1>
            <a href="/feed">Go back to your timeline</a>
        </div>
        <div class="form-group">
            <form action="/feed/<%=feed._id%>?_method=PUT" method="POST">

                <label for="staticName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="StaticName" id="staticName" value="<%=feed.name%>">
                </div>

                <label for="staticUsername">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="staticUsername" id="staticUsername" value="<%=feed.username%>">
                </div>

                <label for="staticEntry">Your Tweet</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="staticEntry" id="staticEntry" value="<%=feed.entry%>">
                </div>
                <input type="submit" value="Edit this tweet">
            </form>
        </div>
        <div class="edit-pic"></div>
    </div>
</body>
</html>
