<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <title>Document</title>
</head>
<body>
  <div class="wrapper">
    <div class="scroll-text">
      <p>General Assembly WC-SEIR-726</p>
      <p>Froy Rodriguez + Michael Hamilton
      <p>DONDA presents:</p>
      <p id="underline">A Node EJS Express MongoDB Project</p>

      <p>Express Application that renders HTML pages from EJS Templates. CRUD routes using the REST convention.
        Templating EJS to render objects from MongoDB in the browser as HTML templates.
        MongoDB persist two models. One model includes full CRUD functionality.
        Bootstrap, Heroku and Authentication.
        Users are able to the choose either side of the force. Sign in and post about their day in a galaxy far, far
        away....
      </p>
    </div>
  </div>

  <h1 class="text-center">JEDI | SITH</h1>
  <hr>


  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card jedi" style="width: 18rem;">
          <img src="tano.png" class="card-img-top" alt="avatar">
          <div class="card-body">
            <h5 class="card-title">Jedi Knight</h5>
            <p class="card-text">Ahsoka Tano representing the Light Choose this avatar to move forward</p>
            <a href="#form" class="btn btn-light">Register</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="card sith" style="width: 18rem;">
          <img src="maul.png" class="card-img-top" alt="avatar">
          <div class="card-body">
            <h5 class="card-title">Sith Lord</h5>
            <p class="card-text">Darth Maul representing the Dark Side Choose this avatar to move forward.</p>
            <a href="#form" class="btn btn-light">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav>
    <img src="logo.png" alt="logo" width="300" height="300">
    <h2 class="text-center" id="title">Welcome to Galaxy Blog</h2>
        <small>
          <p class="text-center">Only through <span>fire</span> is a <span>strong</span> sword forged</p>
        </small>
    <p class="text-center">Devs: Froy Rodriguez + Michael Hamilton</p>
    <h3><%= currentUser && currentUser.username%></h3>
  </nav>

  <hr>

  <div class="main">
    <section class="signup">
      <div class="container">
        <div class="signup-content">
          <a href="/" class="sign-image-link">Back to sign in</a>
          <h2 class="form-title">Sign Up</h2>
          <form action="/users/registration" method="POST">
            <fieldset>
              <legend id="form">New User</legend>
              <label for="username"></label>
              <input type="text" name="username" placeholder="username" required/><br />
              <label for="email"></label>
              <input type="email" name="email" placeholder="email" /><br />
              <label for="password"></label>
              <input type="password" name="password" placeholder="password" required/><br />
              <label for="bio"></label>
              <textarea name="bio" cols="30" rows="10" placeholder="Add Bio" required></textarea>
              <label for="force"></label>
              <select name="force" id="force" class="form-select">
                <option selected>choose your side of the force</option>
                <option value="Jedi Knight">Ahsoka Tano</option>
                <option value="Sith Lord">Darth Maul</option>
              </select><br />
              <button type="submit">Register</button>
            </fieldset>
          </form>
          <div class="signup-image">
            <figure>
              <img src="edit.png" alt="">
            </figure>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>
