<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspect Tweet</title>
</head>
<body>
    <h1><%=feed.user.username%>'s' feed Show View</h1>
    <h2>Ship is <% if(!feed.shipIsBroken){%>NOT<%}%> broken.</h2>
    <h3>Title: <%= feed.title %> </h3>
    <p>Entry: <%= feed.entry %></p>
    <div>
        <a href='/feed'>Back to feed</a>
    </div>
    <div>
        <a href='/feed/new'>Create New feed</a>
    </div>
</body>
</html>