body {
  background: rgb(20, 20, 20);
  color: #bbb;
}

.card {
  box-shadow: 1px 1px 10px #bbb,
              -1px -1px 10px #bbb,
              1px -1px 10px #bbb,
              -1px 1px 10px #bbb;
}

.card img {
  height: 150px;
}

.jedi {
  color: blue;
}

.sith {
  color: red;
}

.sith:hover {
  box-shadow: 5px 5px 10px rgba(204, 14, 14, 0.6);
  background: rgb(204, 14, 14);
  color: black;
}

.jedi:hover {
  box-shadow: 5px 5px 10px rgba(14, 27, 204, 0.6);
  background: rgb(66, 78, 245);
  color: black;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  pointer-events: none;
}

.scroll-text {
  color: #FFE81F;
  font-size: 3vw;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 600s linear;
}

p {
  text-align: center;
}

#underline {
  text-decoration: underline;
}

ul li {
  list-style-type: none;
}

@keyframes scroll {
  from { top: 0; transform: translateZ(0) rotateX(20deg);}
  to { top: -10000px; transform: translateZ(-2500px) rotateX(20deg);}
}

#form {
  border: groove 2em #FFE81F;
  margin-bottom: 4em;
}

textarea {
  width: 650px;
  height: 80px;
  resize: none;
}

#form label {
  width: 5em;
  display: inline-block;
}


@media only screen and (max-width: 1400px) {
  .card {
    margin: 2em;
  }
}

@media only screen and (max-width: 900px) {
  textarea {
    width: 450px;
  }
}

@media only screen and (min-width: 600px) {
  #desc {
    width: auto;
  }
}
