body {
    overflow: hidden;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('../vixSsW.png');
    opacity: 0.9;
}
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: repeat(4, 1fr) / 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "sidebar nav nav main"
    "sidebar feed feed main"
    "sidebar feed feed main"
    "sidebar footer footer main";
    gap: 1rem;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: nav;
    background-color: #b2f0f0;
}
a {
    text-transform: cursive;
    color: #000000;
}
.feed a:hover {
    color: #f70303;
}
nav a:hover {
    color: #1B365C;
}
main {
  grid-area: main;
  background-color: #699e8c;
  text-decoration: underline;
  color: #ffffff;
  width: auto;
}
.sidebar {
    grid-area: sidebar;
    pointer-events: none;
}
.feed {
    display: flex;
    border: 2px solid #000000;
    justify-content: center;
    /* overflow: scroll; */
    grid-area: feed;
    background-color: #57671f;
    color: #62ffa4;
    padding: 10px;
}
.content {
    width: 610px;
}
.username {
    display: flex;
    justify-content: flex-end;
    margin-left: 5em;
}
.profile img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
}
.tabs {
    display: flex;
    justify-content: space-between;
}
.message {
    padding: 10px;
    margin: 10px;
}
.tweet {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    background-color: #84ffff;
}
a {
    text-decoration: none;
}
