* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(27, 24, 32);
  color: #bbb;
}

header {
  margin: 2em;
}

.row {
  border-radius: 1em;
  box-shadow: 1em 1em 10em #bbb,
  1em 1em 10em #bbb,
  1em 1em 10em #bbb,
  1em 1em 10em #bbb;
}

img {
  width: 100%;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.form-row button {
  margin: 2em;
}

@media only screen and (max-width: 994px) {
  img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 1em;
  }
}
