body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpSpob9nGefYKQY3Z45Q_HjtUGKVyx8IAVgQ&usqp=CAU');
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Oswald';
    font-weight: 500;
    color: black;
    background-color: yellow;
    border-bottom: 2px solid red;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}

input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

textarea {
  width: 1250px;
  height: 80px;
  resize: none;
}

#video {
    display: flex;
    justify-content: center;
    pointer-events: none;
    opacity: 0.7;
}
